.container {
  min-height: calc(100vh - 55px);
  width: 100%;
  margin: 0 auto;
}

.mainContainer {
  width: 100%;
}

.bannersContainer {
  width: 100%;
  margin: 0;
}

.shortcutsContainer {
  margin-top: 0px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 0 20px;
}

 .collectionsContainer:last-child {
  margin-bottom: 30px;
} 

@media (min-width: 960px) {
  .container {
    min-height: calc(100vh - 380px);
    max-width: none;
  }

  .mainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .shortcutsContainer {
    width: 960px;
    margin-top: 40px;
    padding: 0;
  }

  .collectionsContainer {
    width: 960px;
    margin: 0 auto;
  }
}
